#navbar{
  padding: 1em 4em;
  // line-height: 40px;

  .container-fluid{
    padding: 0px;
  }

  .navbar-brand{
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 4em;
  }

  .nav-item{
    font-weight: bold;
    font-size: 1em;
    margin-right: 1em;
  }

  .user-profile{
    .user-picture-container{
      overflow: hidden;
      border-radius: 100%;
      background: #eeeeee;
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 40px;
      font-size: 18px;
      font-family: 'calibri';
      font-weight: bolder;
      color: #ffffff;
      cursor: pointer;

      .user-initial{ line-height: 40px; text-align: center; }
      .user-picture{ width: 100%; }
    }
  }

  #navbaUserMenu{
    padding: 0.5em 0em;
    // .dropdown-header{ padding-bottom: 1em; }
    .dropdown-item{
      padding: 0.5em 1.5em;
      // font-weight: bold;
    }
  }
}